body {
    font-family: arial;
    padding: 15px;
  }
  
  h1 {
    text-align:center;
    color: #4caf50;
    font-size:32px;
  }
  
  .show {
    background:white;
    padding:15px;
    margin-top:15px;
    border-radius:8px;
  }
  
  h2 {
    color:#388e3c;
    font-size:22px;
  }
  
  p {
    font-size:16px;
    line-height:1.4;
  }
  
  img {
    width:100%;
    max-width:450px;
    margin:15px auto;
    display:block;
  }